<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LostArkOffice</title>
</head>
<body>
    <header>
        <!-- Aquí puedes incluir la barra de navegación y otros elementos del encabezado -->

    </header>

    <main role="main" class="container">
        <!-- RenderBody() es donde se renderizarán las vistas específicas de cada página -->
        @RenderBody()
    </main>

    <footer class="footer mt-auto py-3 bg-light">

    </footer>
    <script type="module" src="~/js/index.js"></script>
</body>
</html>